[build-system]
requires = [
    "setuptools >= 61.2"
]

[project]
name = "ebrick-fpga-cad"
authors = [{name = "Zero ASIC"}]
description = "Library containing proprietary RTL-to-bitstream and other CAD support for ebrick-fpga."
readme = "README.md"
urls = {Homepage = "https://github.com/zeroasiccorp/ebrick-fpga-cad"}
requires-python = ">= 3.8"
dependencies = [
    "siliconcompiler == 0.21.4",
    "PyGithub == 2.1.1",
    "switchboard-hw == 0.0.38",
    "umi @ git+https://github.com/zeroasiccorp/umi.git@ab0920ec84948204ce944e6c146239abb4a7bfd6",
]
license = {text = "Zero ASIC Proprietary"}
version = "0.0.1"

[project.optional-dependencies]
test = [
    "pytest == 7.4.3",
    "pytest-timeout == 2.1.0",
    "flake8 == 7.0.0"
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
namespaces = false

[tool.pytest.ini_options]
testpaths = "tests"
timeout = "180"
markers = [
    "quick: always run this test on push"
]
